//===============================lesson 1

Webpack (import/exports)
	Babel - для преобразования нового js  в старый
	Sass - для преобразования sass  в css
	Eslint - проверка на чистоту js
	2 Modes
		- Dev - разработка
			Dev Server - перезагрузка автоматическая браузера
			SourceMaps - исходные карты, для ошибок
			Eslint - для поддержки чистоты кода (единый стиль)
			Not Minified JS & CSS - не минифицируем
		- Prod
			Minified Code

Git - позволяет следить за версионностью
	Production
		1.0.0
		0 -----------
	Development
		1.0.2
		1 ------------- + ---  PR   (poolRequest совмещение веток)
		2 ----------------